<ul>
  <% @cat_rental_requests.each do |cat_rental_request| %>
  <li><%= link_to "#{cat_rental_request.cat.name}",
    cat_rental_request_url(cat_rental_request) %></li>
  <% end %>
</ul>

<%= link_to "Request a cat rental", new_cat_rental_request_url %>
<%= link_to "Cat Profiles", cats_url %>
